@import "standard";

body{
    max-width: 1440px;
    font-family: $text_font;
    ul{
        list-style: none;
        padding: 0;
    } 
    a{
        text-decoration: none;
        :active{
            text-decoration: none;
            color: inherit;
        }
    }
    header{
        @include flex;
        max-width: 1440px;
        position: relative;
       .first{
            position: absolute;
            left: 2rem;
            .fa-arrow-left{
                font-size: 1.5rem;
            }
        }
        h1{
            font-family: $font_head;
            margin: 0;
            padding: 1rem 0;
        }
    }
    main{
        img{
            position: absolute;
            top: 68px;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            max-width: 1440px;
            height: 288px;
        }
        .menu{
            @include flex(column, initial, center);
            max-width: 1440px;
            width: calc(100% - 2rem);
            top: 20rem;
            background-color: $lightgrey;
            border-radius: 2rem 2rem 0 0;
            padding: 1rem;
            margin-top: 250px;
            .main-head{
                @include flex(row, space-evenly);
                padding: 1rem 0;
                gap: 5rem;
                h2{
                    font-family: $font_head;
                    font-size: 300;
                }
                .fas{
                    font-size: 1.5rem;
                    color: transparent;
                    background-image: linear-gradient($secondary, $primary);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    opacity: 0;
                    transition: all 150ms ease-in-out;
                    &:hover{
                        opacity: 1;
                        transform: scale(1.2);
                    }
                }
                .far{
                    font-size: 1.5rem;
                }
            }
            
            ul{
                @include flex(column);
                width: 100%;
                gap: 1rem;
                padding: 1rem 0;
                span{
                    border-bottom: 2px solid $tertiary;
                }
                li{
                    width: 100%;
                   
                }
                .card_plat{
                    cursor: pointer;
                    position: relative;
                    height: 2.5rem;
                    @include flex(row, space-between);
                    width: 95%;
                    background-color: #fff;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-shadow: 1px 1px 10px #cecaca;
                    @include animation("liPop",4);
                    @keyframes liPop {
                        0%{
                            opacity: 0;
                            transform: translate(0, 2rem);
                        }
                        100%{
                            opacity: 1;
                        }
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 0;
                        background-color: $tertiary;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        border-radius: 0 1rem 1rem 0;
                        transition: all 0.6s ease-in;
                    }
                    &:hover::after{
                        width: 4rem;
                    }
                   
                    &:hover .fas{
                        animation: rotate-center 0.6s ease-in forwards;
                        @keyframes rotate-center {
                            0% {
                                      transform: translateX(3rem) rotate(0);
                                      opacity: 0;
                            }
                            100% {
                                      transform: translateX(0) rotate(360deg);
                                      opacity: 1;
                                      visibility: visible;
                            }
                          }
                    }
                    &:hover .prix{
                        margin-right: 4rem;
                    }
                    .fa-check-circle{
                        margin-right: 4px;
                        color: #fff;
                        font-size: 1.5rem;
                        z-index: 1;
                        position: absolute;
                        right: 1rem;
                        visibility: hidden;
                    }
                    .nom_plat{
                        overflow: hidden;
                        width: 100%;
                        h3{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .descr-prix{
                            @include flex(row, space-between, center);
                            p:nth-child(1){
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            .prix{
                                transition: all 0.6s ease-in;
                            }
                        }
                    }
                }
            }
            button{
                width: 10rem;
                background: rgb(147,86,220);
                background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                cursor: pointer;
                border: none;
                border-radius: 2rem;
                height: 3rem;
                padding: 1rem;
                color: #fff;
                box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.58);
                margin: 1rem 0 1.5rem 0;
                transition: transform 200ms;
                &:hover{
                    transform: scale(1.15);
                    box-shadow: 0px 13px 34px -5px rgba(0,0,0,0.85);
                    background: linear-gradient(0deg, rgba(147,86,220,0.8) 0%, rgba(255,121,218,0.8) 100%);
                }
            }
        }
    }
    footer{
        background-color: #353535;
        padding: 2rem;
        h2{
            font-family: $font_head;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 400;
        }
        ul{
            @include flex(column, center, flex-start);
            gap: 0.5rem;
            a{
                color: #fff;
                li{
                    @include flex(row, flex-start, center);
                    margin-top: 0.2rem;
                    gap: 1rem;
                }
            }
            address{
                font-style: normal;
            }
        }
    }
}