body {
  max-width: 1440px;
  font-family: Roboto, sans-serif;
}

body ul {
  list-style: none;
  padding: 0;
}

body a {
  text-decoration: none;
}

body a :active {
  text-decoration: none;
  color: inherit;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  position: relative;
}

body header .first {
  position: absolute;
  left: 2rem;
}

body header .first .fa-arrow-left {
  font-size: 1.5rem;
}

body header h1 {
  font-family: Shrikhand, sans-serif;
  margin: 0;
  padding: 1rem 0;
}

body main img {
  position: absolute;
  top: 68px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 1440px;
  height: 288px;
}

body main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: calc(100% - 2rem);
  top: 20rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  margin-top: 250px;
}

body main .menu .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  gap: 5rem;
}

body main .menu .main-head h2 {
  font-family: Shrikhand, sans-serif;
}

body main .menu .main-head .far {
  position: relative;
  font-size: 1.5rem;
  display: block;
  width: 25px;
  height: 25px;
  cursor: default;
}

body main .menu .main-head .far .fas {
  font-size: 1.5rem;
  -webkit-transition: height 0.5s ease-in 0s, -webkit-transform 0.5s ease 0.5s;
  transition: height 0.5s ease-in 0s, -webkit-transform 0.5s ease 0.5s;
  transition: height 0.5s ease-in 0s, transform 0.5s ease 0.5s;
  transition: height 0.5s ease-in 0s, transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  height: 0;
}

body main .menu .main-head .far:hover .fas {
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body main .menu .main-head .far:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}

body main .menu .section-menu {
  width: 100%;
  gap: 2rem;
  padding: 1rem 0;
}

@media only screen and (min-width: 1000px) {
  body main .menu .section-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body main .menu .section-menu span {
  border-bottom: 2px solid #99E2D0;
}

body main .menu .section-menu li {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  body main .menu .section-menu li {
    width: 40%;
  }
}

body main .menu .section-menu .inside-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
  gap: 1rem;
}

body main .menu .section-menu .inside-menu .card_plat {
  cursor: pointer;
  position: relative;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 1px 1px 10px #cecaca;
          box-shadow: 1px 1px 10px #cecaca;
}

body main .menu .section-menu .inside-menu .card_plat:nth-child(1) {
  -webkit-animation: liPop 0.5s ease-out;
          animation: liPop 0.5s ease-out;
}

body main .menu .section-menu .inside-menu .card_plat:nth-child(2) {
  -webkit-animation: liPop 1s ease-out;
          animation: liPop 1s ease-out;
}

body main .menu .section-menu .inside-menu .card_plat:nth-child(3) {
  -webkit-animation: liPop 1.5s ease-out;
          animation: liPop 1.5s ease-out;
}

body main .menu .section-menu .inside-menu .card_plat:nth-child(4) {
  -webkit-animation: liPop 2s ease-out;
          animation: liPop 2s ease-out;
}

@-webkit-keyframes liPop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 2rem);
            transform: translate(0, 2rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes liPop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 2rem);
            transform: translate(0, 2rem);
  }
  100% {
    opacity: 1;
  }
}

body main .menu .section-menu .inside-menu .card_plat::after {
  content: "";
  display: block;
  width: 0;
  background-color: #99E2D0;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body main .menu .section-menu .inside-menu .card_plat:hover::after {
  width: 4rem;
}

body main .menu .section-menu .inside-menu .card_plat:hover .fas {
  -webkit-animation: rotate-center 1s ease forwards;
          animation: rotate-center 1s ease forwards;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: translateX(3rem) rotate(0);
            transform: translateX(3rem) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: translateX(3rem) rotate(0);
            transform: translateX(3rem) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
    opacity: 1;
    visibility: visible;
  }
}

body main .menu .section-menu .inside-menu .card_plat:hover .prix {
  margin-right: 4rem;
}

body main .menu .section-menu .inside-menu .card_plat .fa-check-circle {
  margin-right: 4px;
  color: #fff;
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  right: 1rem;
  visibility: hidden;
}

body main .menu .section-menu .inside-menu .card_plat .nom_plat {
  overflow: hidden;
  width: 100%;
}

body main .menu .section-menu .inside-menu .card_plat .nom_plat h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body main .menu .section-menu .inside-menu .card_plat .nom_plat .descr-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .menu .section-menu .inside-menu .card_plat .nom_plat .descr-prix p:nth-child(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body main .menu .section-menu .inside-menu .card_plat .nom_plat .descr-prix .prix {
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

body main .menu button {
  width: 10rem;
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  padding: 1rem;
  color: #fff;
  -webkit-box-shadow: 0px 13px 25px -9px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 13px 25px -9px rgba(0, 0, 0, 0.58);
  margin: 1rem 0 1.5rem 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

body main .menu button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0px 13px 34px -5px rgba(0, 0, 0, 0.85);
          box-shadow: 0px 13px 34px -5px rgba(0, 0, 0, 0.85);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.8)), to(rgba(255, 121, 218, 0.8)));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.8) 0%, rgba(255, 121, 218, 0.8) 100%);
}

body footer {
  background-color: #353535;
  padding: 2rem;
}

body footer h2 {
  font-family: Shrikhand, sans-serif;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body footer ul li {
  margin-top: 0.2rem;
}

body footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #fff;
}
/*# sourceMappingURL=restaurant_pages.css.map */