body {
  max-width: 1440px;
  font-family: Roboto, sans-serif;
}

body ul {
  list-style: none;
  padding: 0;
}

body a {
  text-decoration: none;
}

body a :active {
  text-decoration: none;
  color: inherit;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  position: relative;
}

body header .first {
  position: absolute;
  left: 2rem;
}

body header .first .fa-arrow-left {
  font-size: 1.5rem;
}

body header h1 {
  font-family: Shrikhand, sans-serif;
  margin: 0;
  padding: 1rem 0;
}

body main img {
  position: absolute;
  top: 68px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 1440px;
  height: 288px;
}

body main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: calc(100% - 2rem);
  top: 20rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  margin-top: 250px;
}

body main .menu .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  gap: 5rem;
}

body main .menu .main-head h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 300;
}

body main .menu .main-head .fa-heart {
  font-size: 1.5rem;
}

body main .menu span {
  border-bottom: 2px solid #99E2D0;
}

body main .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
}

body main .menu ul li {
  width: 100%;
}

body main .menu ul .card_plat {
  position: relative;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 1px 1px 10px #cecaca;
          box-shadow: 1px 1px 10px #cecaca;
}

body main .menu ul .card_plat:nth-child(1) {
  -webkit-animation: "liPop" 0.5s ease-in;
          animation: "liPop" 0.5s ease-in;
}

body main .menu ul .card_plat:nth-child(2) {
  -webkit-animation: "liPop" 1s ease-in;
          animation: "liPop" 1s ease-in;
}

body main .menu ul .card_plat:nth-child(3) {
  -webkit-animation: "liPop" 1.5s ease-in;
          animation: "liPop" 1.5s ease-in;
}

body main .menu ul .card_plat:nth-child(4) {
  -webkit-animation: "liPop" 2s ease-in;
          animation: "liPop" 2s ease-in;
}

@-webkit-keyframes liPop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 2rem);
            transform: translate(0, 2rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes liPop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 2rem);
            transform: translate(0, 2rem);
  }
  100% {
    opacity: 1;
  }
}

body main .menu ul .card_plat .nom_plat {
  overflow: hidden;
}

body main .menu ul .card_plat .nom_plat p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body main .menu ul .card_plat .prix {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: absolute;
  right: 5rem;
}

body main .menu ul .card_plat::after {
  content: "";
  display: block;
  width: 0;
  background-color: #99E2D0;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

body main .menu ul .card_plat:hover::after {
  width: 4rem;
}

body main .menu ul .card_plat:hover .prix {
  margin-right: 2rem;
}

body main .menu ul .card_plat:hover .fas {
  -webkit-animation: rotate-center 0.4s ease-in;
          animation: rotate-center 0.4s ease-in;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: translateX(3rem) rotate(0);
            transform: translateX(3rem) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: translateX(3rem) rotate(0);
            transform: translateX(3rem) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
    opacity: 1;
  }
}

body main .menu ul .card_plat .fas {
  margin-right: 4px;
  color: #fff;
  font-size: 1.5rem;
  z-index: 1;
}

body main .menu button {
  width: 15rem;
  background: #9356dc;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  padding: 1rem;
  color: #fff;
  -webkit-box-shadow: 1px 2px 5px #6d6b6b;
          box-shadow: 1px 2px 5px #6d6b6b;
  margin: 1rem 0 1.5rem 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

body main .menu button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 3px 6px 10px #6d6b6b;
          box-shadow: 3px 6px 10px #6d6b6b;
}

body footer {
  background-color: #353535;
  padding: 2rem;
}

body footer h2 {
  font-family: Shrikhand, sans-serif;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
}

body footer ul a {
  color: #fff;
}

body footer ul a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2rem;
  gap: 1rem;
}
/*# sourceMappingURL=restaurant_pages.css.map */